body{
    background-color: #FE3C72;
}

.logo{
   width: 5rem;
   height: auto; 
}
.boton-menu{
    border: 0;
    font-size: 1.5rem;
    background: transparent;
    color: white;
   
}
.Titulo{
    color: white;
    font-size: 14vw;
    
}
p{
    color: white
}
.iniciarsesion{
    font-size: 4vw;
}

.Iniciar-Sesion{
    color: white;
    font-size: 5vw;
    border-radius: 50px;
    text-transform: uppercase;
    background-color:transparent;
}
#textoproblema{
    color: white;
}

#playstore {
    width: 50vw;
    height: auto;
}

.Login{
    background-color: white;
    margin-top: 150px;
    border-radius: 7%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: .3rem;
    margin-right: .3rem;
    padding: 1rem;
}



.SignUp{
    background-color: white;
    margin-top: 20px;
    border-radius: 7%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: .3rem;
    margin-right: .3rem;
    padding: .5rem;
}



.icontinder{
    border-radius: 15px;
    background: white;
    
}

#icono-tinder {
     width: 1rem;
     height: auto;
}

#usericon, #usermessage{
    border: 0;
    color: white;
    background: transparent;
    font-size: 1.5rem
}

#contenido{
    
    background-size: cover;
    width: 23rem;
    height: 36rem;
    border-radius: 10px;
    
}

span{
    color:white;
}

.icono{

    border-radius: 15px;
    background: white;

}

#nolike{
    color:red;
}

#like{
    color:#33FF43;
}